<h2
  class="page-header"
  style="text-align: center"
>Welcome to Hongei's recipe book!!!</h2>
<img
  class="thumbnail"
  src="http://5b0988e595225.cdn.sohucs.com/images/20180222/f3b2d8cf47bc4dcbb296466ee72902c7.jpeg"
  width="65%"
  style="margin-left: auto; margin-right: auto"
  >
<hr>
<div class="row">
  <div class="col-ms-7">
    <p class="text-center">Note: the recipe only can be added or edited after logging in</p>
    <p class="text-center">test account: test@test.com  password: 12345678</p>
  </div>
</div>

