<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset-3">
    <form (ngSubmit)="onSignIn(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          ngModel
        >
      </div>
      <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-ms-7">
    <p class="text-center">Note: the recipe only can be added or edited after logging in</p>
    <p class="text-center">
      test account: <span style="color: red">test@test.com    </span>     password: <span style="color: red">12345678</span></p>
  </div>
</div>


